*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	width: 100%;
	background-color: yellow;
}
.contenedor{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
header{
	width: 100%;
	height: 20%;
	background-color: red;
}
nav{
	width: 100%;
	height: 6%;
	background-color: green;
	display: flex;
	justify-content: space-around;
}
nav .uno{
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
nav .dos{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
nav button{
	padding: 1%;
}
nav button:hover{
	background-color: red;
}
section{
	width: 80%;
	height: 90%;
	margin: 5% 10% 5% 10%;
	background-color: white;
	z-index: 0;
}
section div{
	display: flex;
	justify-content: center;
	padding-top: 25%;
}
section .trikipedia{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0%;
	display: flex;
}
section .video{
	display: flex;
	flex-wrap: wrap;
	padding: 0%;
	width: 30%;
	height: 25%;
/*	border: solid 1.5px black;*/
}
section .video iframe{
	padding: 0%;
	width: 100%;
	height: 80%;
}
section .video p{
	padding: 0%;
	width: 100%;
	height: 20%;
}
section .mas{
	width: 4%;
	height: 8%;
	padding: 0%;
	background-color: red;
	position: relative;
	margin-left: 103%;

}
section .mas img{
	max-width: 100%;
	max-height: 100%;
}
footer{
	height: 10%;
	width: 100%;
	background-color: red;
	display: flex;
	justify-content: space-around;
}
footer .social{
	width: 50%;
	display: flex;
	justify-content: flex-start;
}
footer .copy{
	width: 50%;
	display: flex;
	justify-content:flex-end;
}